[package]
name = "blog_os"
version = "0.1.0"
edition = "2024"

[build]
target = "x86_64-blog_os.json"

[[bin]]
name = "blog_os"
test = false
bench = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"


[dependencies]
bootloader = "0.9"
spin = "0.5.2"
volatile = "0.2.6"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]
